:root {
  --bg-page: null;
}

body {
  font-family: "Bellefair", serif;
  font-size: 1rem;
}

.font-barlow-cond {
  font-family: "Barlow Condensed", sans-serif;
}
.font-barlow {
  font-family: "Barlow", sans-serif;
}

.bg-page {
  background-image: var(--bg-page);
  background-repeat: no-repeat;
  background-size: cover;
}

.text-primary {
  color: #d0d6f9;
}
.text-dark {
  color: #0b0d17;
}

.main-nav {
  backdrop-filter: blur(81.5485px);
}

.uppercase {
  text-transform: uppercase;
}

.explore-btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: hsl(0deg 0% 100% / 0.1);
  opacity: 0;
  transition: opacity 400ms linear, transform 400ms ease-in-out;
}

.explore-btn:hover:after,
.explore-btn:focus:after {
  transform: scale(1.5);
  opacity: 1;
}

@media (min-width: 1024px) {
  .lg\:row-start-1 {
    grid-row-start: 1;
  }
}
