:root {
  --bg-page: null;
}

body {
  font-family: "Bellefair", serif;
  font-size: 1rem;
}

.font-barlow-cond {
  font-family: "Barlow Condensed", sans-serif;
}
.font-barlow {
  font-family: "Barlow", sans-serif;
}

.bg-page {
  background-image: var(--bg-page);
  background-repeat: no-repeat;
  background-size: cover;
}

.text-primary {
  color: #d0d6f9;
}
.text-dark {
  color: #0b0d17;
}

.mobile-nav {
  backdrop-filter: blur(81.5485px);
}
